@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
label {
	text-decoration: none;
	font-family: 'Inter';
}

button {
	cursor: pointer;
	border: none;
	background-color: transparent;
}

#root {
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

body {
	max-width: 1900px;
	margin: 0 auto;
}



//  HEADER



header {

	.header__content {
		padding: 20px;
		display: flex;
		justify-content: space-between;

		.logo {
			display: flex;
			align-items: center;
			gap: 30px;
		}

		.auth {
			width: 300px;
			display: flex;
			align-items: center;
			gap: 30px;

			a {
				padding: 10px;
				border-radius: 25px;
				font-size: 17px;
				color: black;
				position: relative;

				&::before {
					content: '';
					position: absolute;
					width: calc(100% + 4px);
					height: 110%;
					top: -5%;
					left: -2px;
					z-index: -2;
					border-radius: 30px;
					border: 3px solid black;
					transition: .5s all;
					transform: rotateY(90deg);
				}

				&::after {
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					background-color: white;
					border-radius: 25px;
					z-index: -1;
				}

				&:hover::before {
					transform: rotateY(0deg);
				}
			}
		}

		.hello {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 400px;
			gap: 7px;

			button {
				font-family: 'Inter';
				font-size: 17px;
				position: relative;
				padding: 7px 15px;
				background-color: #c55c5c4e;
				border-radius: 25px;
				transition: .5s all;

				&:hover {
					background-color: #C55C5C;
				}
			}
		}
	}
}


// MAIN



main {
	flex-grow: 1;
	position: relative;
}



// FOOTER



footer {
	flex-shrink: 0;
	position: relative;


	button {
		position: absolute;
		top: -30px;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #1285e4;
		padding: 10px 20px 10px 40px;
		font-size: 15px;
		color: white;
		z-index: 1;
		font-weight: 500;

		&::before {
			content: '';
			background-image: url('../public/images/icon/plus-large-svgrepo-com.svg');
			background-size: 100%;
			background-repeat: no-repeat;
			display: block;
			position: absolute;
			height: 25px;
			width: 25px;

			top: 19%;
			left: 10px;
		}

		&:hover {
			background-color: #1595fe;
		}

	}

	button[type=submit] {
		position: relative;
		transform: unset;
		top: unset;
		left: unset;
	}

	.created-by {
		background-color: #f6efcf;
		width: 198px;
		height: 80px;
		position: absolute;
		top: -80px;
		right: -0%;
		border-radius: 30px 30px 0 0;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
}

// NOTES



.main {
	margin-top: 35px;
	padding: 0 30px;
	display: grid;
	grid-template-columns: repeat(4, minmax(380px, 1fr));
	grid-template-rows: min-content;
	justify-items: center;
	gap: 40px;

	.note {
		width: 380px;
		background-color: #2DC9AD;
		border-radius: 45px;
		padding: 18px 42px 10px 42px;
		height: 240px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		z-index: 1;

		.note-title {

			#note-title {
				cursor: pointer;
				text-align: center;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		.note-content {
			height: 133px;

			p {
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 7;
				line-clamp: 7;
				-webkit-box-orient: vertical;
				text-overflow: ellipsis;
				font-size: 15px;
			}
		}

		.note-options {
			display: flex;
			justify-content: space-between;
			flex-shrink: 0;

			.created-modified {
				display: flex;
				flex-direction: column;
				gap: 5px;

				> div {
					display: flex;
					gap: 7px;

					> p {
						text-align: right;
						font-size: 14px;
						color: rgba(0, 0, 0, 0.46);
						width: 75px;
					}
				}
			}

			.note-delete {
				width: 30px;
				display: flex;
				align-items: center;

				button {
					background-image: url('~assets/images/icon/trash.svg');
					background-repeat: no-repeat;
					width: 22px;
					height: 24px;
				}
			}
		}


	}

	.note.delete {
		animation-name: flipOutX;
		backface-visibility: visible !important;
		animation-duration: 1s;
		animation-fill-mode: both;
	}

	@-webkit-keyframes flipOutX {
		0% {
			-webkit-transform: perspective(400px);
			transform: perspective(400px);
			opacity: 1;
		}

		100% {
			-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
			transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
			opacity: 0;
		}
	}

	@keyframes flipOutX {
		0% {
			-webkit-transform: perspective(400px);
			transform: perspective(400px);
			opacity: 1;
		}

		100% {
			-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
			transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
			opacity: 0;
		}
	}
}


// Загрузка заметок



.loading-notes,
.not-create-note,
.user-not-auth,
.api-failed {
	grid-area: 1/2/1/4;
	width: 100%;
	text-align: center;
}

.not-create-note,
.user-not-auth {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;

	button {
		font-family: 'Inter';
		background-color: #69cbe9;
		padding: 10px 13px;
		font-size: 14px;
		border-radius: 25px;


		&:hover {
			background-color: #75defe;
		}
	}
}

.user-not-auth {
	.reg_or_logIn {
		display: flex;
		gap: 50px;
	}
}




// Регистрация и аунтефикация

.auth-block {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px 50px;
	background-color: #19AE98;
	border-radius: 50px;
	margin-top: 50px;

	&.register {
		width: 450px;
		height: auto;
	}

	&.auth {
		width: 380px;
		height: auto;
	}

	h2 {
		font-size: 27px;
	}

	form {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 25px;
		margin-top: 25px;


		> div {
			display: flex;
			flex-direction: column;
			gap: 10px;
			// margin-top: 23px;
			font-size: 16px;
			align-items: center;

			> input {
				width: 250px;
				height: 35px;
				border: none;
				border-radius: 10px;
				padding-left: 15px;

				&:focus-visible {
					outline: none
				}

				&::placeholder {
					padding-left: 15px;
				}
			}

		}

		button {
			margin: 0 auto;
			width: 190px;
			height: 40px;
			background-color: #147A6B;
			border-radius: 13px;
			transition: .2s all;
			border: 2px solid #147A6B;
			font-size: 15px;
			font-family: 'Inter';
			font-weight: 500;

			&.auth-button {
				width: 90px;
			}


			&:hover {
				background-color: #26D7BC;
			}

		}
	}
}


// Модальные окна

// Модальное окно для создание заметок
.background-modal {
	display: none;
	position: fixed;
	z-index: 5;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.400);
	top: 0;
	left: 0;
	backdrop-filter: blur(5px);

	.create-note {
		position: relative;
		display: flex;
		background-color: white;
		width: 40%;
		height: 500px;
		min-height: 500px;
		position: absolute;
		top: 44%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 6;
		border-radius: 50px;
		flex-direction: column;
		align-items: center;
		gap: 5%;
		padding: 20px 0;
		background-color: rgba(255, 255, 255, 0.5);

		h2 {
			font-weight: 600;
		}


		form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			justify-content: space-around;
			width: 80%;
			height: 90%;

			.text-info--color {
				display: flex;
				width: 100%;
				justify-content: space-evenly;

				.text-info {
					padding: 20px 10px;
					border-radius: 25px;
					display: flex;
					flex-direction: column;
					gap: 30px;
					width: 50%;

					label {
						display: flex;
						flex-direction: column;
						align-items: center;
						gap: 10px;
						font-size: 17px;
						font-weight: 500;

						input {
							width: 200px;
							border: 1px solid rgba(0, 0, 0, 0.212);
							height: 25px;
							padding: 0 10px;
							border-radius: 5px;

							&:focus-visible {
								outline: unset;
								border: 1px solid rgba(0, 0, 0, 1);
							}
						}
					}


					textarea {
						width: 90%;
						resize: none;
						height: 170px;
						font-family: 'Inter';
						font-size: 14px;
						padding: 7px;
						border-radius: 10px;
						border: none;
						border: 1px solid rgba(0, 0, 0, 0.212);

						&:focus-visible {
							outline: unset;
							border: 1px solid rgba(0, 0, 0, 1);
						}
					}
				}


				.set-color {
					width: 20%;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-between;

					> .color {
						width: 100%;
						height: 25px;
						cursor: pointer;
					}
				}
			}


		}

		.modalClose {
			position: absolute;
			top: 25px;
			right: 35px;
			cursor: pointer;
		}
	}
}